LFS_CI_UC_build_onlySourceDirectories < productName:UBOOT, subTaskName:FSM-r3   > = src-fsmbrm
LFS_CI_UC_build_onlySourceDirectories < productName:UBOOT, subTaskName:FSM-r4   > = src-fsmbrm35
# LFS_CI_UC_build_onlySourceDirectories < productName:LFS,   subTaskName:FSM-r3 > = src-fsmpsl
LFS_CI_UC_build_onlySourceDirectories < productName:LFS,   subTaskName:FSM-r4   > = src-fsmpsl35
LFS_CI_UC_build_onlySourceDirectories < productName:LFS,   subTaskName:FSM-r3.5 > = src-fsmpsl35

LFS_CI_UC_build_subsystem_to_build    < productName:UBOOT, subTaskName:FSM-r2 > = src-brm
LFS_CI_UC_build_subsystem_to_build    < productName:UBOOT, subTaskName:FSM-r3 > = src-fsmbrm
LFS_CI_UC_build_subsystem_to_build    < productName:UBOOT, subTaskName:FSM-r4 > = src-fsmbrm35
labelPrefix    < productName:UBOOT > = PS_LFS_BT
labelPrefix    < productName:LFS   > = PS_LFS_OS


LFS_CI_UC_build_subsystem_to_build    < productName:LFS,   subTaskName:FSM-r2            > = src-psl
LFS_CI_UC_build_subsystem_to_build    < productName:LFS,   subTaskName:FSM-r3            > = src-fsmpsl
LFS_CI_UC_build_subsystem_to_build    < productName:LFS,   subTaskName:FSM-r3.5          > = src-fsmpsl35
LFS_CI_UC_build_subsystem_to_build    < productName:LFS,   subTaskName:FSM-r4            > = src-fsmpsl35
LFS_CI_UC_build_subsystem_to_build    < productName:LFS,   subTaskName:FSM-r2-rootfs     > = src-rfs
LFS_CI_UC_build_subsystem_to_build    < productName:LFS,   subTaskName:FSM-r3-FSMDDALpdf > = src-fsmpsl

LFS_CI_location_mapping               < subTaskName:UBOOT > = nightly
LFS_CI_location_mapping               <                   > = ${location}

# location of the java binary, used for jenkins start and jenkins cli
java < LFS_CI_JDK:openjdk > = /usr/lib/jvm/jre-1.6.0-openjdk.x86_64/bin/java
java < LFS_CI_JDK:sun     > = /usr/lib/jvm/java-sun/bin/java
LFS_CI_JDK <> = openjdk

# version number of jenkins, which should be used
jenkinsVersion <> = 1.532.3

# location of the jenkins war files
jenkinsWarFile <> = ${LFS_CI_ROOT}/lib/java/jenkins/jenkins-${jenkinsVersion}.war

# location of the jenkins installation on the master server
jenkinsRoot <> = /var/fpwork/${USER}/lfs-jenkins

# location of the ssl certificate and the private key for https of jenkins webinterface
jenkinsMasterSslCertificate <> = ${LFS_CI_ROOT}/etc/lfs-ci.emea.nsn-net.net.crt
jenkinsMasterSslPrivateKey  <> = ${LFS_CI_ROOT}/etc/lfs-ci.emea.nsn-net.net.key

# hostname (fqdn) of the jenkins master server
jenkinsMasterServerHostName <> = maxi.emea.nsn-net.net

# http port of the jenkins master webinterface
jenkinsMasterServerHttpPort <> = 1280

# https port of the jenkins master webinterface
jenkinsMasterServerHttpsPort <> = 12443

# the http (unsecure) url of the jenkins master webinterface
jenkinsMasterServerHttpUrl <> = http://${jenkinsMasterServerHostName}:${jenkinsMasterServerHttpPort}/

# the https (secure) url of the jenkins master webinterface
jenkinsMasterServerHttpsUrl <> = https://${jenkinsMasterServerHostName}:${jenkinsMasterServerHttpsPort}/

# home directory of the jenkins master server installation
# (only valid on the master server)
jenkinsMasterServerPath <> = ${jenkinsRoot}/home

# path name, where the backups of the jenkins server installation should be stored in the share.
# this should be on a network share - most probably with backup 
jenkinsMasterServerBackupPath <> = /build/home/${USER}/jenkinsBackup

# ssh identification file, which should be used to authenicate for the scripting 
jenkinsSshIdentification <> = ${HOME}/.ssh/id_dsa

# location of the jenkins cli jar file
jenkinsCli <> = ${LFS_CI_ROOT}/lib/java/jenkins/jenkins-cli-${jenkinsVersion}.jar

# path to the share, where the build artifacts are located
# (location for ulm, not valid for other sites)
artifactesShare <> = /build/home/${USER}/lfs

# hostname of the svn master server
svnMasterServerHostName <> = svne1.access.nokiasiemensnetworks.com

# hostname of the svn slave server in Ulm
svnSlaveServerUlmHostName <> = ulscmi.inside.nsn.com

# url of the LFS source repositroy
lfsSourceRepos <> = https://${svnSlaveServerUlmHostName}/isource/svnroot/BTS_SC_LFS

# url of the trunk version of LFS source
lfsSourceReposTrunk <> = ${lfsSourceRepos}/os/trunk

# location where the LFS delivery / productions / releases are put on (in Ulm only)
lfsDeliveryShare <> = /build/home/${USER}/delivery

# location on the share, where the ci results should be put on
lfsCiBuildsShare <> = /build/home/${USER}/ci_builds

# a hostname of a (random) linsee server in Ulm
linseeUlmServer <> = ulling04.emea.nsn-net.net

SVN_tag_path_name <>                     = os/tags
SVN_branch_path_name < productName:LFS > = os/branches
