# -------------------------------------------------------------
# jenkins stuff
# -------------------------------------------------------------

# TODO: demx2fk3 2015-06-24 align this to a common naming convention

# location of the java binary, used for jenkins start and jenkins cli
java < LFS_CI_JDK:openjdk > = /usr/lib/jvm/jre-1.6.0-openjdk.x86_64/bin/java
java < LFS_CI_JDK:sun     > = /usr/lib/jvm/java-sun/bin/java

# use this JDK for jenkins
LFS_CI_JDK <> = openjdk

# version number of jenkins, which should be used
jenkinsVersion <> = 1.532.3

# location of the jenkins war files
jenkinsWarFile <> = ${LFS_CI_ROOT}/lib/java/jenkins/jenkins-${jenkinsVersion}.war

# location of the jenkins installation on the master server
jenkinsRoot = /var/fpwork/${USER}/lfs-jenkins
jenkinsHome = /var/fpwork/${USER}/lfs-jenkins/home
jenkinsRoot < USER:lfscidev > = /var/fpwork/${USER}/jenkins
jenkinsHome < USER:lfscidev > = /var/fpwork/${USER}/jenkins

# directory which keeps all the jenkins jobs
# (only valid on the master server)
jenkinsMasterServerJobsPath <> = ${jenkinsMasterServerPath}/jobs

# location of the ssl certificate and the private key for https of jenkins webinterface
jenkinsMasterSslCertificate <> = ${LFS_CI_ROOT}/etc/lfs-ci.emea.nsn-net.net.crt
jenkinsMasterSslPrivateKey  <> = ${LFS_CI_ROOT}/etc/lfs-ci.emea.nsn-net.net.key

# hostname (fqdn) of the jenkins master server
jenkinsMasterServerHostName <> = maxi.emea.nsn-net.net

# http port of the jenkins master webinterface
jenkinsMasterServerHttpPort <> = 1280

# https port of the jenkins master webinterface
jenkinsMasterServerHttpsPort <> = 12443

# the http (unsecure) url of the jenkins master webinterface
jenkinsMasterServerHttpUrl <> = http://${jenkinsMasterServerHostName}:${jenkinsMasterServerHttpPort}/

# the https (secure) url of the jenkins master webinterface
jenkinsMasterServerHttpsUrl <> = https://${jenkinsMasterServerHostName}:${jenkinsMasterServerHttpsPort}/

# home directory of the jenkins master server installation
# (only valid on the master server)
jenkinsMasterServerPath <> = ${jenkinsRoot}/home

# path name, where the backups of the jenkins server installation should be stored in the share.
# this should be on a network share - most probably with backup
jenkinsMasterServerBackupPath <> = /ps/lfs/${USER}/jenkinsBackup

# ssh identification file, which should be used to authenicate for the scripting
jenkinsSshIdentification <> = ${HOME}/.ssh/id_dsa

# location of the jenkins cli jar file
jenkinsCli <> = ${LFS_CI_ROOT}/lib/java/jenkins/jenkins-cli-${jenkinsVersion}.jar

# Jenkins API token.
jenkinsApiToken <> = 06ed8e95aed63e781f3b76022aa37aa0

# Jenkins API user.
jenkinsApiUser <> = eambrosc

# switch to disable the setting of the build description in Jenkins
# this can be used for development to avoid some ugly error messages
# only the production system is allowed to set the build description
JENKINS_can_set_build_description < LFS_CI_ROOT:/home/lfscidev/lfs-ci > = 1
JENKINS_can_set_build_description < LFS_CI_ROOT:/home/ca_lrcci/lfs-ci > = 1
JENKINS_can_set_build_description < LFS_CI_ROOT:/ps/lfs/ci > = 1
JENKINS_can_set_build_description = 
