#
# pkgpool
#
# naming schema for the pkgpool in the different branches
PKGPOOL_PROD_release_prefix < location:FB1405               > = FB_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1405_LN70P8        > = LN70P8_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1405_LNP8PP01      > = LNP8PP01_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1405_RLD           > = RLD_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1405_RLD9          > = RLD9_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1405_RU50PCD4      > = RU50PCD4_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1405_WN9120        > = WN9120_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1405_WN91P7        > = WN91P7_PS_LFS_PKG_2014_05
PKGPOOL_PROD_release_prefix < location:FB1411               > = FB_PS_LFS_PKG_2014_11
PKGPOOL_PROD_release_prefix < location:FB1412               > = FB_PS_LFS_PKG_2014_12
PKGPOOL_PROD_release_prefix < location:FB1501               > = FB_PS_LFS_PKG_2015_01
PKGPOOL_PROD_release_prefix < location:FB1502               > = FB_PS_LFS_PKG_2015_02
PKGPOOL_PROD_release_prefix < location:FB1503               > = FB_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:FB1503_L15AP7        > = L15AP7_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:FB1503_L15AP8        > = L15AP8_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:FB1503_L15APCD1      > = L15APCD1_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:FB1503_WBTS16P7      > = WBTS16P7_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:FB1503_L15APCD2      > = L15APCD2_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:FB1503_WBTS16PD2     > = WBTS16PD2_PS_LFS_PKG_2015_03
PPKGPOOL_PROD_release_prefix < location:FB1504              > = FB_PS_LFS_PKG_2015_04
PKGPOOL_PROD_release_prefix < location:FB1505               > = FB_PS_LFS_PKG_2015_05
PKGPOOL_PROD_release_prefix < location:FB1506               > = FB_PS_LFS_PKG_2015_06
PKGPOOL_PROD_release_prefix < location:FB1507               > = FB_PS_LFS_PKG_2015_07
PKGPOOL_PROD_release_prefix < location:FB1508               > = FB_PS_LFS_PKG_2015_08
PKGPOOL_PROD_release_prefix < location:LRC                  > = LRC_LCP_PS_LFS_PKG
PKGPOOL_PROD_release_prefix < location:LRC_FB1411           > = FB_LRC_LCP_PS_LFS_PKG_2014_11
PKGPOOL_PROD_release_prefix < location:LRC_FB1411_RLDHD1PTX > = RLDHD1PTX_LRC_LCP_PS_LFS_PKG_2014_11
PKGPOOL_PROD_release_prefix < location:LRC_FB1411_RLDHD1PTY > = RLDHD1PTY_LRC_LCP_PS_LFS_PKG_2014_11
PKGPOOL_PROD_release_prefix < location:LRC_FB1412           > = FB_LRC_LCP_PS_LFS_PKG_2014_12
PKGPOOL_PROD_release_prefix < location:LRC_FB1501           > = FB_LRC_LCP_PS_LFS_PKG_2015_01
PKGPOOL_PROD_release_prefix < location:LRC_FB1502           > = FB_LRC_LCP_PS_LFS_PKG_2015_02
PKGPOOL_PROD_release_prefix < location:LRC_FB1503           > = FB_LRC_LCP_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:LRC_FB1504           > = FB_LRC_LCP_PS_LFS_PKG_2015_04
PKGPOOL_PROD_release_prefix < location:LRC_FB1505           > = FB_LRC_LCP_PS_LFS_PKG_2015_05
PKGPOOL_PROD_release_prefix < location:LRC_FB1506           > = FB_LRC_LCP_PS_LFS_PKG_2015_06
PKGPOOL_PROD_release_prefix < location:LRC_FB1507           > = FB_LRC_LCP_PS_LFS_PKG_2015_07
PKGPOOL_PROD_release_prefix < location:LRC_FB1508           > = FB_LRC_LCP_PS_LFS_PKG_2015_08
PKGPOOL_PROD_release_prefix < location:MD11502              > = MD1_PS_LFS_PKG_2015_02
PKGPOOL_PROD_release_prefix < location:MD11503              > = MD1_PS_LFS_PKG_2015_03
PKGPOOL_PROD_release_prefix < location:MD11505              > = MD1_PS_LFS_PKG_2015_05
PKGPOOL_PROD_release_prefix < location:MD11506              > = MD1_PS_LFS_PKG_2015_06
PKGPOOL_PROD_release_prefix < location:MD11507              > = MD1_PS_LFS_PKG_2015_07
PKGPOOL_PROD_release_prefix < location:MD11508              > = MD1_PS_LFS_PKG_2015_08
PKGPOOL_PROD_release_prefix < location:MD11509              > = MD1_PS_LFS_PKG_2015_09
PKGPOOL_PROD_release_prefix < location:TST_FSMR4L1          > = TST_FSMR4L1_PS_LFS_PKG
PKGPOOL_PROD_release_prefix < location:TST_GCC49            > = TST_GCC49_PS_LFS_PKG
PKGPOOL_PROD_release_prefix < location:pronb-developer      > = PS_LFS_PKG
PKGPOOL_PROD_release_prefix < location:DEV_SRIO_RUE         > = DEV_SRIO_RUE_PS_LFS_PKG

# this file should be updated with the new pkgpool label with release of new pkgpool
# (in addition to $(dirname)/src/gitrevision
PKGPOOL_PROD_update_dependencies_svn_url < location~FB1405          > = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/${location}/trunk/main/src-rfs/Buildfile
PKGPOOL_PROD_update_dependencies_svn_url < location:pronb-developer > = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/trunk/main/src-project/Dependencies

# for LRC branches
PKGPOOL_PROD_update_dependencies_svn_url < location:LRC                  > = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/trunk/lrc/src-project/Dependencies
PKGPOOL_PROD_update_dependencies_svn_url < location:LRC_FB1411_RLDHD1PTX > = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/LRC_FB1411_RLDHD1PTX/trunk/main/src-project/Dependencies
PKGPOOL_PROD_update_dependencies_svn_url < location:LRC_FB1411_RLDHD1PTY > = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/LRC_FB1411_RLDHD1PTY/trunk/main/src-project/Dependencies
PKGPOOL_PROD_update_dependencies_svn_url < location:LRC_FB1411           > = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/LRC_FB1411/trunk/main/src-project/Dependencies
PKGPOOL_PROD_update_dependencies_svn_url < location~LRC_                 > = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/${location}/trunk/lrc/src-project/Dependencies

# default
PKGPOOL_PROD_update_dependencies_svn_url                                  = https://svne1.access.nsn.com/isource/svnroot/BTS_SC_LFS/os/${location}/trunk/main/src-project/Dependencies

# location of the pkgpool on SC_LFS share (in Ulm)
PKGPOOL_location_on_share < USER:ca_lrcci > = /build/home/SC_LFS_LRC/pkgpool/
PKGPOOL_location_on_share < USER:psulm    > = /build/home/SC_LFS/pkgpool/

# additional parameters for Robert Schieles Build Command
PKGPOOL_additional_build_parameters < USER:ca_lrcci                                 > = --pkgpool=/build/home/SC_LFS_LRC/pkgpool --releaseuser=ca_lrcci --prepopulate    --release=${PKGPOOL_PROD_release_prefix} 
PKGPOOL_additional_build_parameters < USER:psulm                                    > = --pkgpool=/build/home/SC_LFS/pkgpool     --releaseuser=psulm    --prepopulate    --release=${PKGPOOL_PROD_release_prefix} 
PKGPOOL_additional_build_parameters < USER:psulm,    subTaskName:build_from_scratch > =                                                                 --prepopulate=no
PKGPOOL_additional_build_parameters < USER:ca_lrcci, subTaskName:build_from_scratch > =             

# flag, which enable / disabled the creation of the release tag in git
PKGPOOL_CI_uc_build_can_create_tag_in_git = 1
PKGPOOL_CI_uc_build_can_create_tag_in_git < subTaskName:build_from_scratch > = 
PKGPOOL_CI_uc_build_can_create_tag_in_git < JOB_NAME~^PKGPOOL_DEV > = 

PKGPOOL_git_repos_url = ssh://git@psulm.nsn-net.net/build/build

PKGPOOL_branch_name < location:pronb-developer > = master
PKGPOOL_branch_name                              = ${location}

# in the workspace of pkgpool, there should be no artifacts from prev. build. 
PKGPOOL_CI_uc_build_can_clean_workspace < LFS_CI_GLOBAL_USECASE:PKGPOOL_DEVELOPER_BUILD > = 
PKGPOOL_CI_uc_build_can_clean_workspace                                                   = 1

